.repair-form__button {
    padding: 13px 16px;
    max-width: 221px;
    width: 100%;
    max-height: 50px;
    border: none;
    background: #47474C;
    border-radius: 0 8px 8px 0;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.repair-form__button::after {
    content: '\0020 ✌️';
}
