.article__link-button {
    display: block;
    max-width: 246px;
    height: 24px;
    margin: 30px 0 50px;
    padding: 13px 30px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #47474C;
    border-radius: 8px;
}
