.warranty__header {
    margin: 60px 0 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.warranty__header::after {
    content: '\0020 ⚡️';
}
