.repair__input {
    padding: 13px 16px;
    max-width: 316px;
    width: 100%;
    max-height: 50px;
    border: none;
    background: rgba(142, 142, 152, 0.2);
    border-radius: 8px 0 0 8px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
