.repair__subtitle {
    margin: 20px 0 230px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
    color: #FFFFFF;
}
