.repair-form__text {
    margin: 12px auto 0 10px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #47474C;
}
